<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-progress-bar *ngIf="loading" type="indeterminate" reversed="true"></ion-progress-bar>
  
    <ion-card class="weather-card" *ngFor="let f of favoritos">
      <ion-card-header>
        <ion-card-title color="light">{{f.ciudad}}, {{f.pais}} <strong>{{f.temp}}</strong></ion-card-title>
        <ion-card-subtitle color="light"><p>{{f.descripcion|titlecase}} {{f.temp_max}} / {{f.temp_min}}C</p></ion-card-subtitle>
        <img src="{{f.icon}}" alt="" class="weather-icon">
      </ion-card-header>
      <!-- <ion-card-content>
        <ion-button (click)="eliminar(f.id)">
          Eliminar
        </ion-button>
      </ion-card-content> -->
    </ion-card>
    
</ion-content>