<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-button (click)="onClick()">
      Click me
    </ion-button>   -->
  
    <ion-card class="weather-card" *ngFor="let f of fav">
      <ion-card-header>
        <ion-card-title color="light">{{f.ciudad}}, {{f.pais}}</ion-card-title>
        <ion-card-subtitle color="light"><p>{{f.descripcion|titlecase}} {{f.temp_max}} / {{f.temp_min}}C</p></ion-card-subtitle>
      </ion-card-header>
      <!-- <ion-card-content>
        <p>{{f.descripcion}}</p>
      </ion-card-content> -->
    </ion-card>
    
</ion-content>