<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>
    <div class="img-wrapper">
      <img class="weather-img" src="{{local_clima.icon}}" alt="" />
    </div>

    <div class="weather-wrapper">
      <div class="location-wrapper">
        <h5 class="ciudad">
          <ion-icon style="font-size: smaller;" name="pin"></ion-icon> {{local_clima.ciudad}}
        </h5>
        <legend>Actualizado: {{local_clima.fecha}}</legend>
      </div>

      <div class="details-wrapper">
        <h1 class="temperatura">{{local_clima.temp}}</h1>
        <p>{{local_clima.descripcion|titlecase}} {{local_clima.temp_max}} / {{local_clima.temp_min}}C</p>
        <p>Humedad: {{local_clima.humedad}}%</p>
      </div> 
    </div>

  </div>

</ion-content>