<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>
    <div class="img-wrapper">
      <img class="weather-img" src="{{clima.icon}}" alt="" />
    </div>

    <div class="weather-wrapper">
      <div class="location-wrapper">
        <h5 class="ciudad">
          <ion-icon style="font-size: smaller;" name="pin"></ion-icon> {{clima.ciudad}}
        </h5>
      </div>

      <div class="details-wrapper">
        <h1 class="temperatura">{{clima.temp}}</h1>
        <p>{{clima.descripcion|titlecase}} {{clima.temp_max}} / {{clima.temp_min}}C</p>
        <p>Humedad: {{clima.humedad}}%</p>
      </div> 
    </div>

  </div>

</ion-content>