
<ion-content>
  <ion-toolbar>
    <form (ngSubmit)="onSubmit()">
      <ion-searchbar [ngModelOptions]="{standalone: true}" [(ngModel)]="busqueda" animated showCancelButton="focus" debounce=100></ion-searchbar>
    </form>
  </ion-toolbar>

  
  <ion-list lines="none">
    <ion-list-header *ngIf="resultados">
      <ion-label>Resultados</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let res of resultados" href="javascript:void(0)" (click)="obtenerClima(res.coord_lat, res.coord_lon)">
      <!-- <ion-icon slot="start" color="medium" name="heart"></ion-icon> -->
      <ion-label>{{res.name}}, {{res.country}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
